* {
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: space-between;
    border: 2px solid purple;
}

aside {
    margin: 2rem;
    width: 30%;
    border: 2px, solid yellow;
}

main {
    width: 60%;
    border: 2px, solid gray;
}

.main-container {
    display: flex;
    margin: 2rem;
    border: 2px solid green;
}

.first-column div {
    border: 1px solid black;
    height: 100px;
    width: 100px;
}

.second-column div {
    border: 1px solid black;
    height: 100px;
    width: 100px;
}

.third-column div {
    border: 1px solid black;
    height: 100px;
    width: 100px;
}

/*
.box-1 {
    border-bottom: none;
    border-right: none;
}
*/



