* {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway';
    color: gray;
    font-size: 1.5rem;
}

.container {
    display: flex;
    justify-content: space-between;
    /*border: 2px solid purple;*/
}

aside {
    margin-top: 2.5rem;
    width: 50%;
    /*border: 2px, solid yellow;*/
}

main {
    width: 50%;
    /*border: 2px, solid gray;*/
    margin: 2.5rem 0 0 12rem;
}

.main-container {
    display: flex;
    /*border: 2px solid green;*/
}

.first-column div {
    border: 0.5px solid black;
    height: 155px;
    width: 155px;
    border-right: none;
    /* display: inline-block; */    /* seperate boxes in one column  */
}

.first-column div:not(:last-child) {
    border-bottom: none;
}

.second-column div {
    border: 0.5px solid black;
    height: 155px;
    width: 155px;
    border-right: none;
    /* display: inline-block; */    /* seperate boxes in one column  */
}

.second-column div:not(:last-child) {
    border-bottom: none;
}

.third-column div {
    border: 0.5px solid black;
    height: 155px;
    width: 155px;
    /* display: inline-block; */  /*seperate boxes in one column  */
}

.third-column div:not(:last-child) {
    border-bottom: none;
}


/* .first-column {                seperate boxes of 3 columns
    margin-right: 10px;
}

.second-column {
    margin-right: 10px;
}

.third-column {
    margin-right: 30px;
}

.box-1 {
    border-radius: 20px;
    margin-bottom: 10px;
}

.box-2 {
    border-radius: 20px;
    margin-bottom: 10px;
}

.box-3 {
    border-radius: 20px;
}

.box-4 {
    border-radius: 20px;
    margin-bottom: 10px;
}

.box-5 {
    border-radius: 20px;
    margin-bottom: 10px;
}

.box-6 {
    border-radius: 20px;
}

.box-7 {
    border-radius: 20px;
    margin-bottom: 10px;
}

.box-8 {
    border-radius: 20px;
    margin-bottom: 10px;
}

.box-9 {
    border-radius: 20px;
} */


.x-clicked {
    background-image: url("../images/x.png");
    background-repeat: no-repeat;
    background-size: 150px 150px;
    text-align: center;
}

.o-clicked {
    background-image: url("../images/o.png");
    background-repeat: no-repeat;
    background-size: 150px 150px;
    text-align: center;
}

.win {
    background-color: lightgreen;
}

button {
    background: #4479BA;
    color: #FFF;
    font-family: 'Raleway';
    font-size: 1.5rem;
    text-align: center;
    border: 1px solid lightgray;
    margin-right: 20px;
    padding: 15px 25px;
    border-radius: 10px;
    box-shadow: 2px 2px lightgray;
  }








