* {
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: space-between;
    border: 2px solid purple;
}

aside {
    margin: 2rem;
    width: 10%;
    border: 2px, solid yellow;
}

main {
    width: 80%;
    border: 2px, solid gray;
}

.main-container {
    display: flex;
    margin: 2rem;
    /*border: 2px solid green;*/
}

.first-column div {
    border: 1px solid black;
    height: 200px;
    width: 200px;
}

.second-column div {
    border: 1px solid black;
    height: 200px;
    width: 200px;
}

.third-column div {
    border: 1px solid black;
    height: 200px;
    width: 200px;
}

/*
.box-1 {
    border-bottom: none;
    border-right: none;
}
*/

.x-clicked {
    background-image: url("../images/x.png");
}

.x-clicked img {
    width: 100%;
}

.o-clicked {
    background-image: url("../images/o.png");
}



