* {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway';
    color: gray;
    font-size: 1.5rem;
}

.container {
    display: flex;
    justify-content: space-between;
    /*border: 2px solid purple;*/
}

aside {
    margin: 2rem;
    width: 30%;
    /*border: 2px, solid yellow;*/
}

main {
    width: 70%;
    /*border: 2px, solid gray;*/
    margin: 2rem 0rem 2rem 10rem;
}

.main-container {
    display: flex;
    /*margin: 2rem 0rem 2rem 10rem;*/
    /*margin: 2rem 0rem 2rem 0rem;*/
    /*border: 2px solid green;*/
}

.first-column div {
    border: 0.5px solid black;
    height: 200px;
    width: 200px;
}

.second-column div {
    border: 0.5px solid black;
    height: 200px;
    width: 200px;
}

.third-column div {
    border: 0.5px solid black;
    height: 200px;
    width: 200px;
}

/*
.box-1 {
    border-bottom: none;
    border-right: none;
}
*/

.x-clicked {
    background-image: url("../images/x.png");
    background-repeat: no-repeat;
}

.o-clicked {
    background-image: url("../images/o.png");
    background-repeat: no-repeat;
}

.win {
    background-color: lightgreen;
}

button {
    background: #4479BA;
    color: #FFF;
    font-family: 'Raleway';
    font-size: 1.5rem;
    text-align: center;
    border: 1px solid black;
    margin: 20px;
    padding: 15px 25px;
    border-radius: 10px;
    box-shadow: 2px 2px black;
  }








